HELP.md
target/
### my config ###
**/src/main/resources/config/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/java/
!**/src/main/resources/application.yml
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/